input{
    border-bottom: solid #ef8829 !important;
    border: none;
    font-size: 20px;
    text-align: center;
    margin-left: 18%;
    margin-top: 5%;

}

/* button{
    background-color: #ef8829;
} */

.loginbtn{
    color: white;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 35%;
    padding: 2%;
    background-color: #ef8829;
    width: 30%;
    border: none;
}

h1{
    margin-top: 25%;
    text-align: center;
    color: #ef8829;
}
